测试图像：白图
1. 投影光机和相机均置于成像测试工装台架；
2. 投光镜头出光面与相机镜头入光面成90°夹角，夹角控制在2°以内，用水平仪等工具调整光机与成像屏垂直状态；
3. 投影机以1528线双侧调整聚光量将聚光量调整至信号强度80%以上，然后调整相机焦距使信号强度尽量大，此时对焦清晰；
4. 点亮光机，调节光机输入额定功率，并将光机投影图案设为白图，至信号稳定状态；
5. 设定相机测试区域内25点，拍摄点直径为min(0.1V, 0.1H)，边缘点距离边距为0.1V, 0.1H，其余点距离平均分布，其中，V和H为显示画面内投投影矩形长和高；
6. 使用相机捕获各个测试点的亮度值；
7. 计算亮度均匀性LNU=(Lavg/L中心)×100%。

步骤：
