"""
1.LED多种不同的模式：
场景：
闪烁模式算法： 一亮一灭直接进行切换；
呼吸模式算法： 高亮低亮直接进行切换；
            多种颜色直接进行切换(颜色不知道);
            亮灭进行渐变式切换、高亮低亮渐变式切换;
            高亮低亮灭3中模式渐变式切换;
            多种颜色渐变式进行切换。
需求：
    需要对多种模式分别识别出亮度、颜色、持续时间、切换频率、次数。比如高亮低亮灭3个模式渐变，
    要检测出高亮的亮度、低亮的亮度、高亮渐变为低亮的间隔时间、低亮渐变到灭的间隔时间，这个模式的总时间和高亮次数、低亮次数。
    有颜色的模式就是要检测出有多少种颜色，颜色的值是多少(比如用rgb或者hsi表示的值是多少)，2个颜色之间切换的间隔时间、这个模式的总时间。
"""

