2.LED流水检测算法：
场景：LED灯带会从一端开始亮，亮灯的区域逐渐向另一端扩展，前面亮灯的区域不会熄灭。
需求: 检测亮灯的顺序是否有错误(就是前面一段先亮了再亮后面一段)，是否有范围没亮以及从最开始亮灯到最后全部亮的这个总间隔时间。
视频：{亮灯顺序，没有亮灯的ROI编号，}

输出：{亮灯顺序（ROI）编号， 没有量的的区域(ROI编号)， 全部灯亮的总时间（当没有没有新的ROI判断为亮的时候为结束）}


单帧数据：{'roi_id': 3, 'mean_brightness': 46.76, 'max_brightness': 59, 'min_brightness': 9, 'mean_color': [251, 30, 0], 'low_brightness_ratio': 0.53}

总输出：
整个检测过程中ROI亮灯的顺序：记录每一帧相对于前一帧新增的亮灯ROI编号。
整个检测过程中从来都没有亮过的ROI编号
整个检测过程中的亮灯时间：当没有新的ROI亮灯的时候判断为亮灯结束

单帧显示数据：
当前已经亮灯了的ROI编号
当前未亮灯编号：小于最大亮灯ROI编号的未亮灯ROI编号
当前亮灯时间
